.header .title {
    font-size: 18px;
    font-weight: 600;
}

.middle {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 14px;
    background-color: #6cb6e0;
    padding: 10px;
    padding-bottom: 0.1px;
    position: relative;
    border-radius: 15px;
}

.table {
    overflow: hidden;
    border: solid #ccc 2px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.table-header {
    text-align: center;
    background-color: white;
    border: 0 !important;
}

.table-header .th {
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
}

.tbody {
    text-align: center;
}

.table-bordered th {
    border: none !important;
}

.table-bordered td {
    color: white;
}
