.header .title {
    font-size: 18px;
    font-weight: 600;
}

.abas {
    display: flex;
    justify-content: space-around;
    border: none;
}

.abas .btn {
    background-color: rgb(213, 212, 212);
    border-radius: 10px;
    font-size: 14px;
    border: none;
    transition: all 0.01s;

}

#btn1.active:before,
#btn2.active:before,
#btn3.active:before,
#btn4.active:before,
#btn5.active:before,
#btn6.active:before {
    top: 70px;
    /* margin-left: %; */
    border: 20px solid transparent;
    border-top-color: #6cb6e0;
    content: "";
    position: absolute;
}

#btn1.active,
#btn2.active,
#btn3.active,
#btn4.active,
#btn5.active,
#btn6.active {
    background-color: #6cb6e0;
    color: white;

}

.middle {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 14px;
    background-color: #6cb6e0;
    padding: 10px;
    padding-bottom: 1px;
    position: relative;
    border-radius: 15px;
}

span {
    color: white;
    font-weight: 600;
    margin-left: 5px;
}

.middle .row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.middle .row label {
    border-radius: 15px 0 0 15px !important;
    font-weight: 500;
}

.group input {
    margin-right: 10px;
    border-radius: 0 15px 15px 0 !important;
}

.row .btn {
    margin-left: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #6cb6e0;
    border: none;
}

input,
label {
    height: 30px;
}

.table {
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.table-header {
    text-align: center;
    background-color: white;
    border: 0 !important;
}

.table-header .th {
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
}

.tbody {
    text-align: center;
}

.table-bordered th {
    border: none !important;
}

.table-bordered td {
    color: white;
    border: none !important;
}
